<ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

      <ion-slide>
        <div class="slide">
          <img src="../../assets//just-meat-logo.png"/>
          <h2>Welcome</h2>
          <p>In those <b>slides</b> we try to explain you how is fantastic this <b>Just Meat App.</b></p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/img.slider/slide-2.png"/>
        <h2>What is Just Meat?</h2>
        <p>The <b>Just Meat app</b> is a fantastic app that allows you to order any dish you want from the comfort of your home.</p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/img.slider/slide-4.png"/>
        <h2>Ready to Order?</h2>
        <ion-button type="button" fill="clear" routerLink="/auth">Continue 
          <ion-icon slot="end" name="arrow-forward" ></ion-icon>
        </ion-button>
      </ion-slide>

    </ion-slides>
  </ion-content>
