<ion-content fullscreen class="ion-padding" scroll-y="false">
    <ion-slides>

      <ion-slide>
        <div class="slide">
          <img src="../../assets/img.slider/slide-1.png"/>
          <h2>Welcome</h2>
          <p>The <b>ionic conference app</b> is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
        </div>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/img.slider/slide-2.png"/>
        <h2>What is Ionic?</h2>
        <p><b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps with web technologies like HTML, CSS, and JavaScript.</p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/img.slider/slide-3.png"/>
        <h2>What is Ionic Appflow?</h2>
        <p><b>Ionic Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a totally new level of app development agility to mobile dev teams.</p>
      </ion-slide>

      <ion-slide>
        <img src="../../assets/img.slider/slide-4.png"/>
        <h2>Ready to Play?</h2>
        <ion-button type="button" fill="clear" routerLink="/auth">Continue 
          <ion-icon slot="end" name="arrow-forward" ></ion-icon>
        </ion-button>
      </ion-slide>

    </ion-slides>
  </ion-content>
