
img{
    height: 100%;
    width: auto;
    display: block;
}

.bg-custom {
    background: rgb(213,5,37);
background: -moz-linear-gradient(180deg, rgba(213,5,37,1) 0%, rgba(255,255,255,1) 100%);
background: -webkit-linear-gradient(180deg, rgba(213,5,37,1) 0%, rgba(255,255,255,1) 100%);
background: linear-gradient(180deg, rgba(213,5,37,1) 0%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d50525",endColorstr="#ffffff",GradientType=1);
height: 35vh;
}