<ion-header>
  <ion-toolbar>
    <ion-title>{{isLogin ? 'Login' : 'Signup'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row>
        <ion-col side-sm="6" offset-sm="3">
          <ion-list>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" ngModel name="email" required email #emailCtrl="ngModel"></ion-input>
              </ion-item>
              <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
                <ion-label>Should be a valid email address.</ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel" minlength="4"></ion-input>
              </ion-item>
              <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                <ion-label>Should at least 4 characters long.</ion-label>
              </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col side-sm="6" offset-sm="3">
            <ion-button color="primary" fill="clear" expand="block" (click)="onSwitchAuthMode()">Switch to {{isLogin ? 'Signup' : 'Login'}}</ion-button>
            <ion-button type="submit" color="primary" class="ion-padding-horizontal" expand="block" (click)="onLogin()" [disabled]="!form.valid" >
              Login
            </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <!-- <div class="ion-text-center">
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </div> -->
</ion-content>
