<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
        <ion-back-button defaultHref="/restaurants/tabs/discover" *ngIf="!isRestaurant()"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="isRestaurant()">
      <ion-button (click)= "onLogout()">
        <ion-icon name="exit" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>Your Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div *ngIf="isLoading" class="ion-text-center">
    <ion-spinner></ion-spinner>
  </div>
  <ion-grid *ngIf="!isLoading">
    <ion-row *ngIf="!isAdmin() && !isRestaurant()">
      <ion-col size="12" size-sm="8" offset-sm="2" class="ionic-text-center">
        <ion-card style="margin: 50px 0;" *ngFor="let order of loadedOrders">
          <ion-card-content>
            <ion-grid>
              <ion-row >
                <ion-col>
                  <ion-thumbnail style="display: flex; margin: 0 auto;" >
                    <img [src]="getRestaurantAvatar(order.restaurant)">
                  </ion-thumbnail>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col class="ion-text-center">
                  <h1>{{getRestaurantName(order.restaurant)}}</h1>
                </ion-col>
              </ion-row>
              <ion-row >
                <ion-col class="ion-text-center">
                  <ion-label>
                    <p style="display: inline;">{{order.statusOrder | titlecase}} &#8226; </p>
                    <p style="display: inline;">{{order.date | date: 'dd/MM/yyyy'}}</p>
                  </ion-label>
                </ion-col>
              </ion-row >
              <ion-row class="ion-padding-bottom" *ngIf="order.statusOrder === 'DELIVERED'">
                <ion-col class="ion-text-center">
                  <app-rating [readOnly]="true" [rating]="order.rating"></app-rating>
                </ion-col>
              </ion-row>
              <div class="ion-text-center ion-padding" style="height: 1px; border-top: 1px solid rgb(226, 226, 226);"></div>
              <ion-row>
                <ion-col size="2">
                  <ion-label>
                    <h3>{{getCountPlates(order._id)}} items</h3>
                  </ion-label>
                </ion-col>
                <ion-col offset="8" size="2">
                  <ion-label>
                    <h3>{{order.totalAmount | currency:'EUR':'symbol-narrow':'1.2-2'}}</h3>
                  </ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                  <ion-button (click)="onClickDetails(order._id)" expand="block" color="primary"> See order</ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isAdmin() && isRestaurant()">
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item-sliding *ngFor="let order of loadedOrders" #slidingOrder>
              <ion-item>
                <ion-label>
                  <h5 (click)="onClickDetails(order._id)">N° order: {{order._id}}</h5>  
                  <p>Address: {{order.shippingAddress}}</p>
                  <p>Date: {{order.date | date: 'dd/MM/yyyy'}}</p>
                </ion-label>
                <div class="statusOrderNew" *ngIf="order.statusOrder === 'NEW'">
                  <p>{{order.statusOrder}}</p>
                </div>
                <div class="statusOrderAccepted" *ngIf="order.statusOrder === 'ACCEPTED'">
                  <p>{{order.statusOrder}}</p>
                </div>
                <div class="statusOrderShipped" *ngIf="order.statusOrder === 'SHIPPED'">
                  <p>{{order.statusOrder}}</p>
                </div>
                <div class="statusOrderDelivered" *ngIf="order.statusOrder === 'DELIVERED'">
                  <p>{{order.statusOrder}}</p>
                </div>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="danger" (click)="onCancelOrder(order._id,slidingOrder)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
