<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list>
          <ion-item-sliding *ngFor="let order of loadedOrders" #slidingOrder>
              <ion-item>
                <ion-label>
                  <h5>N° order :{{order._id}}</h5>
                  <p>Address: {{order.shippingAddress}}</p>
                  <p>Date: {{order.date | date: 'dd/MM/yyyy'}}</p>
                </ion-label>
                <div *ngIf="!order.statusOrder">
                  <ion-icon style="color:red" name="close" size="large" slot="icon-only"></ion-icon>
                </div>
                <div *ngIf="order.statusOrder">
                  <ion-icon style="color: blue;" name="checkmark" size="large" slot="icon-only"></ion-icon>
                </div>
              </ion-item>
              <ion-item-options>
                <ion-item-option color="danger" (click)="onCancelOrder(order._id,slidingOrder)">
                  <ion-icon name="trash" slot="icon-only"></ion-icon>
                </ion-item-option>
              </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
