.statusOrderNew{
    font-size: small;
    color: #2D6D00
}
.statusOrderAccepted{
    font-size: small;
    color: #1943B9
}
.statusOrderShipped{
    font-size: small;
    color: #DEB322
}
.statusOrderDelivered{
    font-size: small;
    color: #EC200F;
}