<ion-content style="height: 50vh;">
  <ion-grid>
    <ion-row class="ion-padding-horizontal">
      <ion-col class="ion-padding-horizontal" style="text-align: center;">
        <ion-label>
          <h1 class="ion-text-center">Do you have any meat intollercance?</h1>
          </ion-label>
        </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col class="ion-padding-horizontal" style="text-align: center;">
        <ion-label>
          <p class="ion-text-center">aIf you have a food allergy or intolerance 
            (or if a person for whom you are placing an order has one), 
            call the restaurant immediately at this number:
          </p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col style="text-align: center;">
        <ion-label>
          <p style="color: #d50525">0957210545.</p>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding-horizontal">
      <ion-col class="ion-padding-horizontal" style="text-align: center;">
        <ion-button (click)="closeModal()" color="primary" size="full">
          Close
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
