<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/restaurants/tabs/discover"></ion-back-button>
        <!-- <ion-button (click)="onOpenMenu()">Open</ion-button> -->
      </ion-buttons>
      <ion-title>
        <ion-text>Profile</ion-text>
      </ion-title>
      <ion-buttons (click)="onEditProfile()" slot="primary">
        <ion-text> Save edit</ion-text>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-content>
        <div *ngIf="isLoading" class="ion-text-center">
          <ion-spinner></ion-spinner>
        </div>
          <form [formGroup]="form" *ngIf="!isLoading">
              <ion-grid>
                <ion-row>
                  <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                      <ion-label position="floating">Name</ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="name"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                      <ion-label position="floating">Surname</ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="surname"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                      <ion-label position="floating">Address</ion-label>
                      <ion-input type="text" formControlName="address"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                      <ion-label position="floating">Email</ion-label>
                      <ion-input type="email" autocomplete autocorrect formControlName="email"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="!form.get('email').valid && form.get('email').touched">
                  <ion-col size-sm="6" offset-sm="3">
                    <ion-text>You must insert valid email.</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col size-sm="6" offset-sm="3">
                    <ion-item>
                      <ion-label position="floating">Phone</ion-label>
                      <ion-input type="text" autocomplete autocorrect formControlName="phone"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </form>
      </ion-content>
</ion-content>